@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter; /* Using Tailwind's utility */
}

.form-input{ 
  @apply rounded px-4 py-2 focus:outline-none w-full shadow-lg
}
.error-input{
 @apply border border-red-600
}
.error-text{
  @apply text-red-600 text-sm
}
/* Hide scrollbar forward & backward buttons */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* Set vertical scrollbar width & hide horizontal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;  /* Vertical scrollbar width */
  height: 0px; /* Horizontal scrollbar won't show */
}

/* Scrollbar Thumb (Draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: lightGray;
}

/* Hide horizontal scrollbar completely */
.custom-scrollbar {
  overflow-x: hidden;
}

.media-btn{
  @apply w-[52px] h-[45px] bg-lavenderBlue flex flex-col justify-center items-center rounded text-[10px] font-semibold text-primary
}
.chatting-btn{
  @apply bg-lavenderBlue h-[60px] w-[60px] rounded-full flex justify-center items-center
}
